body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 116, 190);
    height: auto;
    
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 29, 139);
    height: auto;
    
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 80vh;
}
.columnA {
    background-color: rgb(188, 174, 202);
    flex-grow: 1;

}

.columnB {
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 163, 202);
    flex-grow: 1;
}

.columnC {
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 207, 214);
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: bold;
}

ul {
    display: flex;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    flex-direction: column;
}

/*the text below is copied, it makes the button in the footer*/
a:link, a:visited {
    background-color: #a39f9f;
    color: rgb(17, 19, 99);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(253, 252, 252);
  }

  .textC {
    padding: 15px 25px;
  }
  .cheatsheet {
      width: 300px; 
      height: auto;
  }